
<section data-ng-controller="WebsitesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="website.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == website.user._id">
		<a class="btn btn-primary" href="/#!/websites/{{website._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="website.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="website.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="website.URL"></p>
	<p class="list-group-item-text" data-ng-bind="website._id"></p>

	<div linear-chart chart-data="salesData"></div>
	
	<div ng-repeat="performance in performances">
	url: {{performance.url}} //
	useragent: {{performance.useragent}} //

	perceived:{{performance.timing.perceived}} //
	redirect:{{performance.timing.redirect}} //
	cache:{{performance.timing.cache}} //
	dnsLookup:{{performance.timing.dnsLookup}} //
	tcpConnection:{{performance.timing.tcpConnection}} //
	roundTriproundTrip:{{performance.timing.roundTrip}} //
	pageRender:{{performance.timing.pageRender}} //

	[ALLTIME]:{{performance.alltime}}
	<br>	
	<br>	
	</div>
</section>

